<header>
	<h1> Where to Eat? </h1>
	<h3> For those who spend more time deciding than eating. <h3>
</header>
<div id="container">

<div class="column" id="left">
	<h1>Categories</h1>

	<div id="catcontainer">

	<a class = "cat" id="american">American</a> | <a class = "cat" id="asian">Asian</a> | <a class = "cat" id="european">European</a>
	<br />
	<a class = "cat" id= "latin">Latin</a> | <a class = "cat" id="mideast">Middle Eastern</a> | <a class = "cat" id="other">Other</a>
	</div>
	
	<div id="categories">
		<br />
		<p style="text-align:center">Don't care? Don't select one for random!</p>
	</div>
	
</div>
<div class="column" id="middle">
	<h1>Distance</h1>
	<ul>
	<li><a class="button" id="5mi">5 mi</a></li>
	<li><a class="button" id="10mi">10 mi</a></li>
	<li><a class="button" id="15mi">15 mi</a></li>
	<li><a class="button" id="20mi">20 mi</a></li>
	</ul>
</div>

<div class="column" id="right">
	<h1>Price</h1>
	<ul>
	<li><a class="button" id="price1">$</a></li>
	<li><a class="button" id="price2">$$</a></li>
	<li><a class="button" id="price3">$$$</a></li>
	<li><a class="button" id="price4">$$$$</a></li>
	</ul>
</div>

<div id="form">
<%= form_tag("nom", :method => "get") do %>
	<%= hidden_field_tag(:form_categories) %>
	<%= hidden_field_tag(:form_distance) %>
	<%= hidden_field_tag(:form_price, "5") %>
	<%= submit_tag "Find Me Noms!", :id => "submit"%>
<% end %>
</div>
</div> <!-- end container -->

<script type="text/javascript">
$(document).ready(function(){
    $("a.button").click(function(){
	
		// Check which column and "undown" the elements 
		// Adds price/distance to form
		if($(this).parent().parent().parent().attr("id") === "right") {
			$("#form_price").val($(this).html());
		} else if($(this).parent().parent().parent().attr("id") === "middle") {
			$("#form_distance").val($(this).html());
		}
		// Then mark element as down
		$(this).parent().parent().find(".button").removeClass("down");
        $(this).toggleClass("down");
    });

	// Adds categoies to form and allows category toggle
    $("td.cat").live ("click", function(event){
        $(this).toggleClass("down");
		var cat = $("#categories").find("td.cat.down");
		// Make all categories into string
		var all_cat = "";
		for (var i = 0; i < cat.length; i++) {
			all_cat += cat[i].innerHTML + ",";
		}
		$("#form_categories").val(all_cat);
    });

	// Displays categories according to supercategories
	$('.cat').click(function() {
	  display_categories(eval($(this).attr('id')));
	});
});

var asian = ["Asian Fusion", "Burmese", "Cambodian", "Chinese", "Filipino", "Hawaiian", "Himalayan/Nepalese", "Indian", "Indonesian", "Japanese", "Korean", "Malaysian", "Mongolian", "Singaporean", "Sushi Bars", "Taiwanese" , "Thai", "Vietnamese"];
var american = ["Barbeque", "Breakfast & Brunch", "Burgers", "Cajun/Creole", "Cheesesteaks", "Delis", "Diners", "Fast Food", "Hot Dogs", "Fish & Chips", "Soul Food", "Southern", "Steakhouses", "Tex-Mex"];
var european = ["Belgian", "British", "Creperies", "German", "French", "Greek", "Hungarian", "Irish", "Italian", "Polish", "Russian", "Scandinavian", "Turkish", "Ukrainian"];
var mideast = ["Afghan", "Caribbean", "Halal", "Mediterranean", "Pakistani", "Persian/Iranian"];
var latin = ["Argentine", "Brazilian", "Caribbean", "Cuban", "Mexican", "Peruvian", "Portuguese", "Spanish", "Tapas Bars"];
var other = ["African", "American", "Buffets", "Ethiopian", "Fondue", "Food Stands", "Gluten-Free", "Kosher", "Latin", "American", "Moroccan", "Pizza", "Sandwiches", "Seafood", "Soup", "Vegan", "Vegetarian"];


function display_categories (cat){
	var str = ""; 
    var i = 0;
	var j;
	
	str += "<table id=\"cat_table\">";
	while (i < cat.length)
	{
		str += "<tr>";
		for (j = 0; j < 3; j++) 
		{
			if (cat[i] == undefined)
				break;
			str += "<td class=\"cat\">" + cat[i] + "</td>";
			i++;
		}
		str += "</tr>";
	}
	str += "</table>";

	document.getElementById("categories").innerHTML = str;
	};

</script>